body {
    text-align: center;
    background-color: #000000;
    font-family: Times, Times New Roman, Georgia, serif;
}

h3 {
    display: block;
    font-weight: bold;
    color: #f8f8ff;
    font-size: 4em;
}

h6 {
    font-weight: bold;
    color: #f8f8ff;
    font-size: 2em;
    margin-bottom: 14px;
    padding-bottom: 0;
}
